.comics__container {
    display: flex;
    flex-wrap: wrap;
}
.comics {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid rgb(199, 199, 207);
        width: 230px;
        background-color: #f8f9f8;
        margin: 10px;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            transform: rotate(-8deg) scale(0.85);
            filter: saturate(180%);
        }
    }
    &__name {
        display: flex;
        margin: auto;
        padding: 5px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: bold;
    }
    &__img {
        width: 100%;
    }
}
